.chat-box {
    height: 75vh;
    max-height: 75vh;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow-y: scroll;
    margin: 20px 20px;
    padding: 10px;
    background-color: #f9f9f9;
    align-self: center;
    overflow-x: hidden;
}

.input-group-width {
    width: 60%;
    max-width: 600px;
}

.user-message, .assistant-message {
    margin: 5px 0;
    word-wrap: break-word;
    white-space: pre-wrap;
    max-width: 60%;
}

.user-message {
    background-color: #b0d0e9 !important;
    justify-self: right;
}

.assistant-message {
    background-color: #d7d0d0 !important;
    justify-self: left;
}

.input-group-width textarea {
    resize: none;
    width: 100%;
    max-height: 100px;
}

.page-heading {
    font-size: 2.5rem;
    color: #006ee3;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.confirm-action-button {
    margin-right: 10px;
    padding: 5px 15px !important;
    font-size: 12px !important;
    border-radius: 0.75em !important;
    background-color: #d7d0d0 !important;
    border: 2px solid #4b4b4b !important;
    color: #000000 !important;
}

.confirm-action-button:hover {
    background-color: #4b4b4b !important;
    color: #fff !important;
}

.assistant-response * {
    margin-bottom: -15px;
    max-width: 100%;
}

.assistant-response p {
    margin-bottom: 0.25em !important;
}

.assistant-response ul, ol {
    margin-top: -25px !important;
}

.assistant-response code {
    background-color: #ededed;
    color:#000000;
}
