.chat-interface {
    min-height: 100vh;
    display: flex;
}

.chat-box {
    height: 85vh;
    max-height: 85vh;
    align-self: center;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.chat-container {
    order: 1;
    flex: 1;
}

.chat-interface-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 50px;
    margin: 20px 0px;
}

.messages-container {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.placeholder-message {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 0;
    font-size: 1.25em;
    font-weight: 500;
}

/* Add scrollbar styling for messages container */
.messages-container::-webkit-scrollbar {
    width: 8px;
}

.messages-container::-webkit-scrollbar-track {
    background: transparent;
}

.messages-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.dark-mode .messages-container::-webkit-scrollbar-thumb {
    background-color: #555;
}

.chat-layout {
    display: flex;
    width: 100%;
    min-height: 85vh;
}

.dark-mode .chat-box {
    background-color: #181818;
    border-color: #303030;
}
