.confirm-action-button {
    margin-right: 10px;
    padding: 5px 15px !important;
    font-size: 12px !important;
    border-radius: 0.75em !important;
    background-color: #ffffff !important;
    border: 2px solid #4b4b4b !important;
    color: #000000 !important;
}

.confirm-action-button:hover {
    background-color: #e6e6e6 !important;
}

.dark-mode .confirm-action-button {
    background-color: #181818 !important;
    border-color: #ffffff !important;
    color: #ffffff !important;
}

.dark-mode .confirm-action-button:hover {
    background-color: #575757 !important;
}
